.how-it-works__round {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 147px;
    left: 760px;
}

@media screen and (max-width: 1280px) {
    .how-it-works__round {
        left: 550px;
    }
}

@media screen and (max-width: 1080px) {
    .how-it-works__round {
        left: 310px;
    }
}

@media screen and (max-width: 720px) {
    .how-it-works__round {
        top: 110px;
        width: 55px;
        height: 55px;
        left: 250px;
    }
}

@media screen and (max-width: 520px) {
    .how-it-works__round {
        left: 140px;
    }
}