.how-it-works__round {
    background-color: #FFFFFF;
    border-radius: 50%;
    max-width: 75px;
    width: 100%;
    max-height: 75px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 147px;
    left: 760px;
}


@media screen and (max-width: 1280px) {
    .how-it-works__round {
        left: 550px;
    }
}