.contact-us__form {
    display: flex;
    flex-direction: column;
    max-width: 832px;
    width: 100%;
    border: 1px solid #486958;
    box-sizing: border-box;
    padding: 0 41px 26px;
}

@media screen and (max-width: 1080px) {
    .contact-us__form {
        max-width: 600px;
    }
}

@media screen and (max-width: 720px) {
    .contact-us__form {
        max-width: 400px;
        max-height: 290px;
        padding-top: 25px;
    }
}