.inspiration__title {
    max-width: 510px;
    margin: 25px 0 37px;
}

@media screen and (max-width: 1280px) {
    .inspiration__title {
        max-width: 500px;
    }
}

@media screen and (max-width: 1080px) {
    .inspiration__title {
        max-width: 100%;
        color: #1C2323;
    }
}