.mission {
    max-width: 1210px;
    max-height: 488px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 135px 315px;
    padding: 113px 0 0;
    column-gap: 107px;
    row-gap: 38px;
    margin: 0 auto;
}


@media screen and (max-width: 1280px) {
    .mission {
        max-width: 1020px;
        column-gap: 67px;
    }
}

@media screen and (max-width: 1080px) {
    .mission {
        max-width: 700px;
        column-gap: 30px;
        grid-template-rows: 105px 270px;
        row-gap: 30px;
    }
}