.contact-us {
    max-width: 1210px;
    padding: 180px 0 250px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}


@media screen and (max-width: 1280px) {
    .contact-us {
        max-width: 1020px;
        gap: 40px;
    }
}

@media screen and (max-width: 1080px) {
    .contact-us {
        max-width: 700px;
        padding: 120px 0 200px;
        flex-direction: column;
        align-items: center;
    }
}