.contact-us {
    max-width: 1210px;
    padding: 180px 0 250px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}


@media screen and (max-width: 1280px) {
    .contact-us {
        max-width: 1020px;
        gap: 40px;
    }
}