.testimonial__logos {
    display: grid;
    grid-template-columns: 179px 178px 222px 149px;
    max-width: 934px;
    width: 100%;
    gap: 68px;
    align-items: center;
    margin: 17px 0 0;
}

@media screen and (max-width: 1080px) {
    .testimonial__logos {
        max-width: 100%;
        grid-template-columns: 140px 140px 180px 120px;
        gap: 40px;
    }
}

@media screen and (max-width: 720px) {
    .testimonial__logos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        align-items: center;
        justify-items: center;
    }
}