.info__blockquote {
    z-index: 1;
    max-width: 615px;
    font-weight: 500;
    font-size: 19px;
    line-height: 29px;
    color: #486958;
    margin: 0;
}

@media screen and (max-width: 1080px) {
    .info__blockquote {
        max-width: 270px;
        margin-top: 80px;
        font-size: 17px;
    }
}