.mission__image {
    max-width: 482px;
    max-height: 488px;
    grid-column: 1;
    grid-row: 1/2;
    object-fit: cover;
}

@media screen and (max-width: 1080px) {
    .mission__image {
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .mission__image {
        display: none;
    }
}